@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}

.container {
  background-color: hsl(233, 47%, 7%);
  padding: 7%;
  line-height: 1.5;
  max-width: 100vw;
  height: 100vh;
}

.content {
  background-color: hsl(244, 38%, 16%);
  display: flex;
  border-radius: 6px;
  overflow: hidden;
}

.card {
  padding: 4em;
  font-family: "Inter", sans-serif;
  flex-basis: 100%;
}

.card-title {
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  font-size: 3rem;
  max-width: 20ch;
}

.card-content {
  color: hsla(0, 0%, 100%, 0.75);
  font-weight: 400;
}

.crd {
  margin-bottom: 1em;
  max-width: 40ch;
}

.card-title span {
  color: hsl(277, 64%, 61%);
}

.nums {
  margin-top: 5em;
  display: flex;
  gap: 5em;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
}

.num .content-name {
  color: hsla(0, 0%, 100%, 0.6);
  font-size: 0.7rem;
}

.num .content-number {
  color: hsl(0, 0%, 100%);
  font-family: "Inter", sans-serif;
}
.card-image {
  position: relative;
  flex-basis: 100%;
}
.card-image img {
  display: block;
  height: 100%;
  width: 100%;
}

.card-image .overlay {
  position: absolute;
  background: hsla(277, 96%, 20%, 0.6);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*Media queries*/
@media screen and (min-width: 320px) {
  .container {
    padding: 2.5em 2em;
  }
  .content {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .card {
    padding: 1.2em;
  }
  .card-title {
    font-size: 1.5rem;
  }
  .card-content {
    font-size: 0.8rem;
    margin: 0 auto;
  }
  .crd {
    margin-bottom: 0.5em;
    padding: 0 0.5em;
  }
  .nums {
    flex-direction: column;
    gap: 1em;
    margin-top: 1.2em;
  }
  .num {
    text-align: center;
    vertical-align: middle;
    line-height: 2;
  }
  .num .content-number {
    font-size: 1rem;
  }
  .card-image {
    margin-bottom: 0.5em;
  }
  .card-image img {
    height: 35vh;
  }
}

@media screen and (min-width: 460px) {
  .container {
    padding: 2.5em 2em;
  }
  .content {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .card {
    padding: 4em;
    font-family: "Inter", sans-serif;
    flex-basis: 100%;
    display: grid;
    place-items: center;
  }

  .card-title {
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    font-size: 3rem;
    max-width: 20ch;
  }

  .card-content {
    color: hsla(0, 0%, 100%, 0.75);
    font-weight: 400;
  }

  .crd {
    margin-bottom: 1em;
    max-width: 40ch;
  }

  .card-title span {
    color: hsl(277, 64%, 61%);
  }

  .nums {
    margin-top: 5em;
    display: flex;
    gap: 5em;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
  }

  .num .content-name {
    color: hsla(0, 0%, 100%, 0.6);
    font-size: 0.7rem;
  }

  .num .content-number {
    color: hsl(0, 0%, 100%);
    font-family: "Inter", sans-serif;
  }
  .card-image {
    margin-bottom: 0.5em;
  }
  .card-image img {
    height: 35vh;
    transform: scaleX(1.2);
  }
  .card-image .overlay {
    transform: scaleX(2);
  }
}
